.text {
	font-family: arial;
}

.button {
	background-color: #4CAF50;
	border-radius: 5px;
	color: black;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	margin: 4px 2px;
	cursor: pointer;
	transition-duration: 0.5s;
	font-family: cursive;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4), 0 6px 20px 0 rgba(0,0,0,0.3)
}
.button:hover {
	background-color: white;
}

.button1 {
	background-color: #f44336; 
	border: 3px solid #f44336;
}

.button2 {
	background-color: #e0e330; 
	border: 3px solid #e0e330;
}

.button3 {
	background-color: #4CAF50; 
	border: 3px solid #4CAF50;
}

.button4 {
	background-color: #008CBA; 
	border: 3px solid #008CBA;
}